body {
    background: white;
}

.rightofwidth{
    float: right;
}

.time{
text-align: center;
}

.clock {
text-align: center;
padding: 50px 0;

font-family: "Inter Regular";
  src: url("Inter-Regular.ttf") format("ttf");
font-style: normal;
font-weight: normal;
font-size: 66px;
line-height: 100%;
}


.line2{
margin: auto;
width: 250px;
padding: 10px 0;

text-align: center;
font-family: "Inter Regular";
  src: url("Inter-Regular.ttf") format("ttf");
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
}

.container{
    background-color: #ffffff;
    width: 247px;
    height:64px;
    position: relative;
    margin:  50px auto;
    border-radius: 32px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.05);
}
.container p{
    text-align: center;
    margin: 20px 0 30px 0;
}
input[type="file"]{
    display: none;
}
label{
    display: block;
    position: relative;
    /* background-color: #025bee; */
    color: #4D4D4D;
    font-size: 18px;
    font-family: "Inter Regular";
        src: url("Inter-Regular.ttf") format("ttf");
    border: 2px solid #4D4D4D;
    font-weight: bold;
    text-align: center;
    padding:20px;
    margin: auto;
    border-radius: 32px;
    cursor: pointer;
}
label:hover{
    background-color: #4D4D4D;
    color: #ffffff;
}

.pickercenter{
    width: 247px;
    height:64px;
    position: relative;
    margin:  10px auto;
}

#canvas_picker{
    background:white;
    /* (改变这个颜色改变canvas) */
    padding: 0;
    margin: auto;
    display: block;
    /* width: 256px;
    height: 256px; */
}

#picked span{
  display:inline-block;
  padding: 15px;
  width:50px;
  height:50px;
  text-align:center;
  text-shadow:1px 1px 1px #000;
  font:8px/50px Arial;
  color:#fff;
}

#calibrate{
    font-family: "Inter Regular";
        src: url("Inter-Regular.ttf") format("ttf");
    color: #4D4D4D;
    background-color: #ffffff;
    border-radius: 16px;
    border: 1.5px solid;
    padding:4px;

}
  
#calibrate:hover {
    background-color: #4D4D4D; /* Green */
    color: white;
  }

  #connect{
    font-family: "Inter Regular";
        src: url("Inter-Regular.ttf") format("ttf");
    color: #4D4D4D;
    background-color: #ffffff;
    border-radius: 16px;
    border: 1.5px solid;
    padding:4px;

}
  
#connect:hover {
    background-color: #4D4D4D; /* Green */
    color: white;
  }